body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #e2e2e2, #f8f8f8);
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

h1 {
    color: #0028b0;
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 20px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: #0028b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1339b7;
}

p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

#resultado {
    text-align: center;
    font-size: 18px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

 

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
    h1 {
        font-size: 25px; 
    }
    p {
        font-size: 16px;
    }
}